.main-wrapper {
  background-color: #75C5BA;
  margin: 4% 1%; /* 4% arriba/abajo y 1% a los lados */
}

.titulo {
  margin-bottom: -8.5%; /* espacio entre el título y el container */
  margin-left: 2%;
  margin-right: 2%;
}

.titulo h1 {
  text-transform: arial;
  font-size: 300%; /* equivalente a 2.5rem */
  margin-bottom: 0;
}

.titulo h4 {
  text-transform: arial;
  font-size: 110%; /* equivalente a 1.2rem */
  margin-top: -1.5%;
}

.titulo button {
  text-transform: arial;
  font-weight: bold;
  font-size: 110%; /* equivalente a 1.2rem */
  margin-top: -7%;
  margin-left: 85%;
  padding: 1%;
  background-color: #015288;
  width: 15%;

}
.main-container {
  margin-top: 5%;
  padding: 1% 0;
  width: 100%;
  max-width: 96%;
}

.row.main-row {
  background-color: #f3f0f0;
  margin: 1% 0;
  width: 100%;
}

